matplotlib == 3.8.4
scenedetect == 0.6.3
numpy == 1.26.4
scipy == 1.13.0
torch == 2.2.2
torchvision == 0.17.2
pandas == 2.2.2
sympy == 1.12
tqdm == 4.66.2
opencv_python == 4.9.0.80
catboost == 1.2.5
tensorboard == 2.16.2
